agentic-content-team/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -2000,
        640
      ],
      "typeVersion": 1.2,
      "webhookId": "content-team-webhook-v1",
      "credentials": {
        "telegramApi": {
          "id": "pALi1KMjfLC968Ex",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Telegram message \u2014 user sends the content topic\nconst msg = $input.first().json.message;\nconst topic = (msg.text || '').trim().substring(0, 200);\nconst chatId = msg.chat.id;\n\nif (!topic) {\n  throw new Error('No topic received \u2014 send me a topic to write about');\n}\n\nreturn [{\n  json: {\n    topic,\n    chatId,\n    iterationCount: 0,\n    criticFeedback: '',\n    startTime: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "position": [
        -1776,
        640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=\u270d\ufe0f Content team activated!\n\nTopic: {{ $json.topic }}\n\nResearching \u2192 Writing \u2192 Reviewing. I'll send you the draft when it's ready for your approval.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-start",
      "name": "Send Start Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1488,
        496
      ],
      "typeVersion": 1.2,
      "webhookId": "content-start-tg-v1",
      "credentials": {
        "telegramApi": {
          "id": "pALi1KMjfLC968Ex",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for the Writer Agent\n// Handles BOTH first pass (from Research Agent) AND loop rewrites (from Inject Feedback)\n\nlet topic, chatId, iterationCount, criticFeedback, keyPoints, context, angle;\n\nif ($json.output) {\n  // --- FIRST PASS: input is Research Agent plain text output ---\n  const research = $json.output;\n  const parseData = $('Parse Input').first().json;\n\n  keyPoints = [research];\n  context = research;\n  angle = '';\n  topic = parseData.topic;\n  chatId = parseData.chatId;\n  iterationCount = parseData.iterationCount;\n  criticFeedback = parseData.criticFeedback || '';\n} else {\n  // --- LOOP REWRITE: input is Inject Feedback output ---\n  keyPoints = $json.keyPoints || [];\n  context = $json.context || '';\n  angle = $json.angle || '';\n  topic = $json.topic;\n  chatId = $json.chatId;\n  iterationCount = $json.iterationCount;\n  criticFeedback = $json.criticFeedback || '';\n}\n\nconst keyPointsText = Array.isArray(keyPoints)\n  ? keyPoints.map((p, i) => `${i + 1}. ${p}`).join('\\n')\n  : keyPoints;\n\nconst feedbackSection = criticFeedback\n  ? `\\n\\nCRITIC FEEDBACK \u2014 address these points in your rewrite:\\n${criticFeedback}`\n  : '';\n\nconst writerPrompt = `Topic: ${topic}\\n\\nAngle to use: ${angle}\\n\\nContext: ${context}\\n\\nKey facts to weave in:\\n${keyPointsText}${feedbackSection}`;\n\nreturn [{\n  json: {\n    topic,\n    chatId,\n    iterationCount,\n    criticFeedback,\n    keyPoints,\n    context,\n    angle,\n    writerPrompt\n  }\n}];"
      },
      "id": "prep-writer-prompt",
      "name": "Prepare Writer Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        -1200,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Extract Writer Agent output and carry all data forward for the Critic Agent\n\nconst draft = $json.output;\nconst prevData = $('Prepare Writer Prompt').item.json;\n\nif (!draft) {\n  throw new Error('Writer Agent returned no draft');\n}\n\nreturn [{\n  json: {\n    topic: prevData.topic,\n    chatId: prevData.chatId,\n    iterationCount: prevData.iterationCount,\n    keyPoints: prevData.keyPoints,\n    context: prevData.context,\n    angle: prevData.angle,\n    criticFeedback: prevData.criticFeedback,\n    draft,\n    wordCount: draft.split(' ').length\n  }\n}];"
      },
      "id": "prep-critic-prompt",
      "name": "Prepare Critic Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        -624,
        544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Extract Critic Agent output\n\nconst criticOutput = $json.output || '';\nconst prevData = $('Prepare Critic Prompt').item.json;\n\n// Parse score from text output\nconst scoreMatch = criticOutput.match(/\\b([0-9]|10)\\s*\\/\\s*10|\\bscore[:\\s]+([0-9]|10)\\b/i);\nconst score = scoreMatch ? parseInt(scoreMatch[1] || scoreMatch[2]) : 7;\nconst passed = score >= 7;\nconst feedback = criticOutput;\n\nreturn [{\n  json: {\n    topic: prevData.topic,\n    chatId: prevData.chatId,\n    iterationCount: prevData.iterationCount,\n    keyPoints: prevData.keyPoints,\n    context: prevData.context,\n    angle: prevData.angle,\n    draft: prevData.draft,\n    wordCount: prevData.wordCount,\n    score,\n    passed,\n    feedback\n  }\n}];"
      },
      "id": "extract-critic",
      "name": "Extract Critic Output",
      "type": "n8n-nodes-base.code",
      "position": [
        -48,
        544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "id": "score-pass",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "max-rewrites",
              "leftValue": "={{ $json.iterationCount }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "score-gate",
      "name": "Score Gate",
      "type": "n8n-nodes-base.if",
      "position": [
        176,
        544
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Draft didn't pass auto-review \u2014 inject critic feedback and loop back to writer\n\nconst improvementText = ($json.feedback || '').trim();\n\nreturn [{\n  json: {\n    topic: $json.topic,\n    chatId: $json.chatId,\n    iterationCount: $json.iterationCount + 1,\n    keyPoints: $json.keyPoints,\n    context: $json.context,\n    angle: $json.angle,\n    criticFeedback: improvementText,\n    draft: $json.draft\n  }\n}];"
      },
      "id": "inject-feedback",
      "name": "Inject Feedback",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Build approval message data\n\nconst resumeUrl = $execution.resumeUrl;\nconst approveUrl = resumeUrl + '?action=approve';\nconst rejectUrl = resumeUrl + '?action=reject';\n\nconst iterationNote = $json.iterationCount > 0\n  ? `\ud83d\udcdd Rewrite #${$json.iterationCount} \u2014 Critic score: ${$json.score}/10`\n  : `\ud83c\udfaf Critic score: ${$json.score}/10`;\n\nconst approvalMessage = `${iterationNote}\\nWords: ${$json.wordCount}\\n\\nTap below to approve or reject.`;\n\nreturn [{\n  json: {\n    approvalMessage,\n    approveUrl,\n    rejectUrl,\n    topic: $json.topic,\n    chatId: $json.chatId,\n    draft: $json.draft,\n    score: $json.score,\n    feedback: $json.feedback,\n    wordCount: $json.wordCount,\n    iterationCount: $json.iterationCount,\n    keyPoints: $json.keyPoints,\n    context: $json.context,\n    angle: $json.angle\n  }\n}];"
      },
      "id": "format-approval",
      "name": "Format Approval Message",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.draft }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-draft-message",
      "name": "Send Draft Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        624,
        400
      ],
      "typeVersion": 1.2,
      "webhookId": "0028a748-76cc-4ec1-8587-ef8cc98cb130",
      "credentials": {
        "telegramApi": {
          "id": "pALi1KMjfLC968Ex",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Approval Message').item.json.chatId }}",
        "text": "={{ $('Format Approval Message').item.json.approvalMessage }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\u2705 APPROVE \u2014 Post it",
                    "additionalFields": {
                      "url": "={{ $('Format Approval Message').item.json.approveUrl }}"
                    }
                  },
                  {
                    "text": "\u274c REJECT \u2014 Rewrite it",
                    "additionalFields": {
                      "url": "={{ $('Format Approval Message').item.json.rejectUrl }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-approval-buttons",
      "name": "Send Approval Buttons",
      "type": "n8n-nodes-base.telegram",
      "position": [
        848,
        400
      ],
      "typeVersion": 1.2,
      "webhookId": "3a580ebc-5146-458e-b373-d35224598e24",
      "credentials": {
        "telegramApi": {
          "id": "pALi1KMjfLC968Ex",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "position": [
        1072,
        400
      ],
      "typeVersion": 1.1,
      "webhookId": "content-wait-v1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "id": "is-approved",
              "leftValue": "={{ $json.query?.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "approval-check",
      "name": "Approval Check",
      "type": "n8n-nodes-base.if",
      "position": [
        1296,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Approval Message').item.json.chatId }}",
        "text": "\u2705 Got it! Saving and posting to LinkedIn now...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-approval-confirm",
      "name": "Send Approval Confirmation",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1520,
        304
      ],
      "typeVersion": 1.2,
      "webhookId": "c511652c-ef81-4865-8535-dfef6468c0ad",
      "credentials": {
        "telegramApi": {
          "id": "pALi1KMjfLC968Ex",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Approval Message').item.json.chatId }}",
        "text": "\u274c No problem \u2014 rewriting with improvements. Give me a minute...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-rewrite-notice",
      "name": "Send Rewrite Notice",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1520,
        496
      ],
      "typeVersion": 1.2,
      "webhookId": "0b3241b0-c761-449e-8dde-23023c2499ae",
      "credentials": {
        "telegramApi": {
          "id": "pALi1KMjfLC968Ex",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Inject rejection feedback and loop back to Writer Agent\n\nconst prevData = $('Format Approval Message').item.json;\n\nreturn [{\n  json: {\n    topic: prevData.topic,\n    chatId: prevData.chatId,\n    iterationCount: prevData.iterationCount + 1,\n    keyPoints: prevData.keyPoints,\n    context: prevData.context,\n    angle: prevData.angle,\n    criticFeedback: prevData.feedback + '\\n\\nNote: The human reviewer also rejected this draft. Significantly improve it.',\n    draft: prevData.draft\n  }\n}];"
      },
      "id": "inject-rejection",
      "name": "Inject Rejection Feedback",
      "type": "n8n-nodes-base.code",
      "position": [
        1744,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "folderId": "0B8GR7TMZOfOyVFNsQUhfMHVtcmc",
        "title": "={{ $('Format Approval Message').item.json.topic + ' \u2014 ' + $now.toFormat('yyyy-MM-dd') }}"
      },
      "id": "save-docs",
      "name": "Save to Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        1744,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "aQ3A18pGFbdkV1fA",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1H714MrrvtGRAEmYOp7kaYpoiO5-3rYTb_NRQFJxChE4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
            "Topic": "={{ $('Format Approval Message').item.json.topic }}",
            "Draft": "={{ $('Format Approval Message').item.json.draft }}",
            "Score": "={{ $('Format Approval Message').item.json.score }}",
            "Word Count": "={{ $('Format Approval Message').item.json.wordCount }}",
            "Rewrites": "={{ $('Format Approval Message').item.json.iterationCount }}",
            "Status": "Approved",
            "Posted At": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "append-log",
      "name": "Append to Content Log",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1968,
        304
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j6VSP4lMzpkXxGlk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Approval Message').item.json.chatId }}",
        "text": "=\u2705 Done!\n\nTopic: {{ $('Format Approval Message').item.json.topic }}\nCritic score: {{ $('Format Approval Message').item.json.score }}/10\n\nSaved to Google Docs. Logged in Sheets. Posted to LinkedIn.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "send-success",
      "name": "Send Success Notice",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2416,
        304
      ],
      "typeVersion": 1.2,
      "webhookId": "787a87f8-2dba-423b-a59e-2602dd2cb9d7",
      "credentials": {
        "telegramApi": {
          "id": "pALi1KMjfLC968Ex",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agentic Content Team \u2014 VKZ Automations\n\n**Trigger:** Send a Telegram message with your content topic.\nExample: `AI automation for restaurants`\n\n**What happens:**\n1. \ud83d\udd0d Research Agent \u2014 finds key facts and the best angle\n2. \u270d\ufe0f Writer Agent \u2014 writes the LinkedIn post (150-250 words)\n3. \ud83c\udfaf Critic Agent \u2014 scores it 0-10. If < 7, rewrites automatically (max 2 times)\n4. \ud83d\udccb Sends draft to Telegram \u2014 you read it, then tap Approve or Reject\n5. \u2705 Approve \u2192 saves to Google Docs + logs to Sheets + posts to LinkedIn\n   \u274c Reject \u2192 rewrites with your rejection noted, sends a new draft",
        "height": 380,
        "width": 620
      },
      "id": "overview-note",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Research this topic for a LinkedIn post:\n\n{{ $('Parse Input').first().json.topic }}",
        "options": {
          "systemMessage": "You are a research specialist for LinkedIn content. \n\nGiven a topic, research and return: \n1. 4-6 key facts with specific numbers\n2. The most compelling angle for a LinkedIn post\n3. Background context that makes the facts meaningful. \n\nBe specific. Use concrete examples and numbers. \nStay focused on the exact topic given \u2014 do not shift to a different audience or subject."
        }
      },
      "id": "research-agent",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1552,
        800
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "id": "research-model",
      "name": "Research Agent - Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -1488,
        1024
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "vFQKIWI4K7ROO1PV",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.writerPrompt }}",
        "options": {
          "systemMessage": "You are a LinkedIn content writer specialising in AI automation.\n\nWrite a complete LinkedIn post ready to copy-paste and publish.\n\nRules:\n- 150-250 words\n- Start with a one-line hook that names a problem or makes a surprising claim\n- No paragraph longer than 2 lines\n- At least one concrete example or number\n- End with a question or CTA (not both)\n- No hashtags\n- No corporate language\n- Sound like a real person who builds things\n\nReturn ONLY the post text. No commentary, no labels, just the post."
        }
      },
      "id": "writer-agent",
      "name": "Writer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -976,
        544
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "id": "writer-model",
      "name": "Writer Agent - Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -912,
        768
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "vFQKIWI4K7ROO1PV",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Topic: {{ $json.topic }}\n\nDraft to review:\n{{ $json.draft }}",
        "options": {
          "systemMessage": "You are a content quality critic reviewing LinkedIn posts for a solo AI automation consultant.\n\nScore the post 1-10 and provide specific actionable feedback.\n\nScoring:\n- Hook strength (0-2)\n- Specificity with numbers/examples (0-2)\n- Relevance to business owners (0-2)\n- Tone \u2014 human, not corporate (0-2)\n- Strong ending/CTA (0-2)\n\nA 7 means genuinely good. A 5 means average. Be harsh.\n\nReturn: score X/10 followed by 2-3 specific improvements."
        }
      },
      "id": "critic-agent",
      "name": "Critic Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -400,
        544
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "id": "critic-model",
      "name": "Critic Agent - Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -336,
        768
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "vFQKIWI4K7ROO1PV",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "person": "pnqt5MIZHi",
        "text": "={{ $('Format Approval Message').item.json.draft }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2176,
        304
      ],
      "id": "ff8df798-985f-4255-8344-88282f383ddb",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "2Vdy0zdX821m64gK",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Send Start Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Prepare Writer Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Writer Prompt": {
      "main": [
        [
          {
            "node": "Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer Agent": {
      "main": [
        [
          {
            "node": "Prepare Critic Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Critic Prompt": {
      "main": [
        [
          {
            "node": "Critic Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critic Agent": {
      "main": [
        [
          {
            "node": "Extract Critic Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Critic Output": {
      "main": [
        [
          {
            "node": "Score Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Gate": {
      "main": [
        [
          {
            "node": "Format Approval Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inject Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Feedback": {
      "main": [
        [
          {
            "node": "Prepare Writer Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Approval Message": {
      "main": [
        [
          {
            "node": "Send Draft Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft Message": {
      "main": [
        [
          {
            "node": "Send Approval Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Buttons": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Approval Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Check": {
      "main": [
        [
          {
            "node": "Send Approval Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rewrite Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Confirmation": {
      "main": [
        [
          {
            "node": "Save to Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rewrite Notice": {
      "main": [
        [
          {
            "node": "Inject Rejection Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Rejection Feedback": {
      "main": [
        [
          {
            "node": "Prepare Writer Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Docs": {
      "main": [
        [
          {
            "node": "Append to Content Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Content Log": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent - Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Writer Agent - Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Critic Agent - Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Critic Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Send Success Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}