youtube-content-multiplier/workflow.json
{
  "name": "Youtube Content Multiplier V1",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "0741fedc-bbaf-4ca1-b0ad-48ba23fa4569",
      "name": "Telegram Trigger",
      "webhookId": "7979702c-d8e5-4339-bfe6-07760710ad8c",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5316ab4c-5788-4734-9200-05e5c07d3498",
              "name": "youtubeUrl",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 0],
      "id": "3251819a-7e27-4bc9-9f23-9e370d7ffc21",
      "name": "Extract YouTube URL"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $input.item.json.youtubeUrl;\nlet videoId = '';\n\nif (url.includes('youtu.be/')) {\n  videoId = url.split('youtu.be/')[1].split('?')[0];\n} else if (url.includes('youtube.com/watch?v=')) {\n  videoId = url.split('v=')[1].split('&')[0];\n} else if (url.includes('youtube.com/embed/')) {\n  videoId = url.split('embed/')[1].split('?')[0];\n}\n\nreturn { json: { videoId, youtubeUrl: url } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "fb2ac040-6660-4dc7-bad8-e6b10fc397a4",
      "name": "Extract Video ID"
    },
    {
      "parameters": {
        "url": "=https://www.searchapi.io/api/v1/search?engine=youtube_transcripts&video_id={{ $json.videoId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_SEARCHAPI_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [624, 0],
      "id": "eec8f40b-9820-4615-b481-472b79d85513",
      "name": "Fetch Transcript via API"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nconst transcriptArray = inputItem.json.transcripts || [];\nconst fullText = transcriptArray.map(segment => segment.text).join(' ');\nreturn {\n  fullTranscript: fullText,\n  videoId: inputItem.json.video_id || \"Unknown\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, 0],
      "id": "8b08d518-df3b-4075-83e9-3b0332bd2e7d",
      "name": "Format Transcript Text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video URL: {{ $('Fetch Transcript via API').item.json.search_metadata.request_url }}\n\nTranscript: {{ $json.fullTranscript }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a social media content expert. Based on the YouTube video transcript provided, create engaging posts for LinkedIn and X (Twitter).\n\nStyle Guide for Social Media Transformation:\n\n1. Formatting: Use the \"Fist-Bump\" rule. Max 2 sentences per paragraph. Lots of white space for mobile readability.\n2. Tone: Write like a practitioner. Direct, honest, and calm. No hype.\n3. Strict Rule: NO HASHTAGS ANYWHERE.\n4. The Hook: Open with a \"Contrarian\" or \"Observation\" statement from the transcript.\n5. No AI Buzzwords: Never use words like: 'Delve', 'Unlock', 'Revolutionize', 'Tapestry', or 'In today's fast-paced world'.\n\nPlatform Specifics:\n- LinkedIn: Focus on the business logic. One clear \"Aha!\" moment followed by 3 bulleted takeaways.\n- X (Twitter): Turn the transcript into a 5-part thread. Start Tweet 1 with a \"how-to\" hook.\n\nCRITICAL FOR PARSING:\n- Respond ONLY with the JSON object. \n- Do NOT use markdown code blocks (no ```json). \n- Do NOT include any intro like \"Here is the post\" or any outro.\n- Ensure the JSON is complete and not truncated."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1040, 0],
      "id": "a553420a-821b-4ef3-891c-ab9cd835ffbb",
      "name": "Generate Social Posts"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1040, 224],
      "id": "bbd2b6b6-0848-496b-af67-4209ecae409d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"linkedinPost\": {\n      \"type\": \"string\",\n      \"description\": \"LinkedIn post following the Fist-Bump rule, practitioner tone, no hashtags, with one 'Aha!' moment and 3 bullets.\"\n    },\n    \"twitterThread\": {\n      \"type\": \"array\",\n      \"description\": \"A 5-part X thread. No hashtags.\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Individual tweet text, strictly under 280 characters. The first item must be a 'how-to' hook.\"\n      },\n      \"minItems\": 5,\n      \"maxItems\": 5\n    }\n  },\n  \"required\": [\"linkedinPost\", \"twitterThread\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1216, 208],
      "id": "e92d6200-2aa1-4b00-bc97-2d4c6ebdfc58",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "YOUR_GOOGLE_DOC_URL",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ \"==========================================================\\n\" }}\n{{ \"DATE: \" + $now.format('cccc, dd LLLL yyyy') + \"\\n\" }}\n{{ \"VIDEO: \" + $('Fetch Transcript via API').item.json.search_metadata.request_url + \"\\n\" }}\n{{ \"==========================================================\\n\\n\" }}\n{{ \"LINKEDIN POST\\n\" }}\n{{ \"----------------------------------------------------------\\n\" }}\n{{ $json.output.linkedinPost + \"\\n\\n\" }}\n\n{{ \"X (TWITTER) THREAD\\n\" }}\n{{ \"----------------------------------------------------------\\n\" }}\n{{ $json.output.twitterThread.join('\\n\\n---\\n\\n') + \"\\n\\n\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1408, 0],
      "id": "162b06be-30cc-4dae-b706-dfa039a9ef17",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Your social media posts are ready in your Google Doc.\n\nYou can now copy and paste the content to LinkedIn and X.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, 0],
      "id": "c2143956-d61a-4705-9270-b326e90c69c4",
      "name": "Send Confirmation",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Extract YouTube URL", "type": "main", "index": 0}]]
    },
    "Extract YouTube URL": {
      "main": [[{"node": "Extract Video ID", "type": "main", "index": 0}]]
    },
    "Extract Video ID": {
      "main": [[{"node": "Fetch Transcript via API", "type": "main", "index": 0}]]
    },
    "Fetch Transcript via API": {
      "main": [[{"node": "Format Transcript Text", "type": "main", "index": 0}]]
    },
    "Format Transcript Text": {
      "main": [[{"node": "Generate Social Posts", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "Generate Social Posts", "type": "ai_languageModel", "index": 0}]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{"node": "Generate Social Posts", "type": "ai_outputParser", "index": 0}]]
    },
    "Generate Social Posts": {
      "main": [[{"node": "Update a document", "type": "main", "index": 0}]]
    },
    "Update a document": {
      "main": [[{"node": "Send Confirmation", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
